/* backgroud color */
.bg-theme-blue {
  background-color: #9ac1f0 !important;
}
.bg-theme-light-green {
  background-color: #72fa93 !important;
}
.bg-theme-medium-green {
  background-color: #a0e548 !important;
}
.bg-theme-orange {
  background-color: #e45f2b !important;
}
.bg-theme-yellow {
  background-color: #f6c445 !important;
}

/* text color */
.text-theme-neutral {
  color: #ffffff !important;
}
.text-theme-blue {
  color: #9ac1f0 !important;
}
.text-theme-light-green {
  color: #72fa93 !important;
}
.text-theme-medium-green {
  color: #a0e548 !important;
}
.text-theme-orange {
  color: #e45f2b !important;
}
.text-theme-yellow {
  color: #f6c445 !important;
}
