/* -- constants -- */
$xs: 18px;
$sm: 22px;
$md: 26px;
$lg: 30px;
$xl: 34px;
$xxl: 69px;

/* -- fonts -- */
.text-xs {
  font-size: $xs !important;
}
.text-sm {
  font-size: $sm !important;
}
.text-md {
  font-size: $md !important;
}
.text-lg {
  font-size: $lg !important;
}
.text-xl {
  font-size: $xl !important;
}
.text-xxl {
  font-size: $xxl !important;
}

/* -- marging and padding -- */
.margin-right-xs {
  margin-right: $xs;
}
.margin-right-sm {
  margin-right: $sm;
}
.padding-left-xs {
  padding-left: $xs;
}
.padding-right-sm {
  padding-right: $sm;
}
