.xs {
  font-size: 18px !important;
}
.sm {
  font-size: 22px !important;
}
.md {
  font-size: 26px !important;
}
.lg {
  font-size: 30px !important;
}
.xl {
  font-size: 34px !important;
}
.xxl {
  font-size: 69px !important;
}
